# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Output videos
data/output/

# Input videos
data/input/
data/out

# Logs
*.log

node_modules/
ui/node_modules/

dist/
build/
ui/dist/